@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 255, 255, 255;
  --color-foreground: 56, 67, 59;
  /* muted text - icons color */
  --color-muted: 56, 67, 59, 0.561;

  /* most used color */
  --color-surface: 0, 148, 20;
  --color-surface-100: 0, 133, 18;
  --color-surface-200: 0, 118, 16;
  --color-surface-300: 0, 104, 14;
  --color-surface-400: 0, 89, 12;
  --color-surface-500: 0, 74, 10;
  --color-surface-600: 0, 59, 8;
  --color-surface-700: 0, 44, 6;
  --color-surface-800: 0, 30, 4;
  --color-surface-900: 0, 15, 2;

  --color-surface-light: 26, 159, 44;
  --color-surface-light-100: 51, 169, 67;
  --color-surface-light-200: 77, 180, 91;
  --color-surface-light-300: 102, 191, 114;
  --color-surface-light-400: 128, 202, 138;
  --color-surface-light-500: 153, 212, 161;
  --color-surface-light-600: 179, 223, 185;
  --color-surface-light-700: 204, 234, 208;
  --color-surface-light-800: 230, 244, 232;



  /* //TODO inputs-bg 173, 170, 170  */
}
.dark {
  --color-background: 0, 0, 0;
  --color-foreground: 255, 255, 255;
  /* muted text - icons color */
  --color-muted: 56, 67, 59, 0.561;
  /* most used color */
  --color-service: 0, 148, 20;
  --color-service-100: 0, 133, 18;
  --color-service-200: 0, 118, 16;
  --color-service-300: 0, 104, 14;
  --color-service-400: 0, 89, 12;
  --color-service-500: 0, 74, 10;
  --color-service-600: 0, 59, 8;
  --color-service-700: 0, 44, 6;
  --color-service-800: 0, 30, 4;
  --color-service-900: 0, 15, 2;
  /* bg for icons with service color */
  --color-service-soft: 0, 148, 20, 0.07;

  --color-service-light: 26, 159, 44;
  --color-service-light-100: 51, 169, 67;
  --color-service-light-200: 77, 180, 91;
  --color-service-light-300: 102, 191, 114;
  --color-service-light-400: 128, 202, 138;
  --color-service-light-500: 153, 212, 161;
  --color-service-light-600: 179, 223, 185;
  --color-service-light-700: 204, 234, 208;
  --color-service-light-800: 230, 244, 232;
  /* drop shadow */
  --color-secondary: 0, 0, 0, 0.059;
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
