
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


:root {
  --color-background: 255 255 255;
  --color-foreground: 56 67 59; /*text => /65*/
  /* muted text - icons color
  --color-muted: 56 67 59; */
  /* most used color */
  --text-color:#ffffff;
  --color-surface: 0 148 20;
  --color-surface-100: 0 133 18;
  --color-surface-200: 0 118 16;
  --color-surface-300: 0 104 14;
  --color-surface-400: 0 89 12;
  --color-surface-500: 0 74 10;
  --color-surface-600: 0 59 8;
  --color-surface-700: 0 44 6;
  --color-surface-800: 0 30 4;
  --color-surface-900: 0 15 2;

  --color-surface-light: 26 159 44;
  --color-surface-light-100: 51 169 67;
  --color-surface-light-200: 77 180 91;
  --color-surface-light-300: 102 191 114;
  --color-surface-light-400: 128 202 138;
  --color-surface-light-500: 153 212 161;
  --color-surface-light-600: 179 223 185;
  --color-surface-light-700: 204 234 208; /*input-border*/
  --color-surface-light-800: 230 244 232;
}
.dark {
  --color-background: 0 0 0;
  --color-foreground: 255 255 255;
  /* muted text - icons color */
  /* --color-muted: 56 67 59; */
  /* most used color */
  --color-service: 0 148 20;
  --color-service-100: 0 133 18;
  --color-service-200: 0 118 16;
  --color-service-300: 0 104 14;
  --color-service-400: 0 89 12;
  --color-service-500: 0 74 10;
  --color-service-600: 0 59 8;
  --color-service-700: 0 44 6;
  --color-service-800: 0 30 4;
  --color-service-900: 0 15 2;

  --color-service-light: 26 159 44;
  --color-service-light-100: 51 169 67;
  --color-service-light-200: 77 180 91;
  --color-service-light-300: 102 191 114;
  --color-service-light-400: 128 202 138;
  --color-service-light-500: 153 212 161;
  --color-service-light-600: 179 223 185;
  --color-service-light-700: 204 234 208;
  --color-service-light-800: 230 244 232;
}

@layer components {
  .base-btn {
    @apply h-11 px-4 rounded-xl bg-surface text-white ;
  }
  .btn-secondary {
    @apply h-11 px-4 rounded-xl bg-surface-light-800/50 text-surface ;
  }
}
html {
  font-family: "Cairo", sans-serif;
}
body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}
[dir="rtl"] .custom-scroll {
  direction: rtl;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
::selection {
  background: rgb(var(--color-surface));
  color: white;
} 


/*
.table-row {
  @apply border-b-[1px] border-foreground/10 text-center ;
}
.table-headers {
  @apply text-foreground/65 capitalize font-normal p-4;
}
.table-content {
  @apply text-foreground font-normal  p-4;
} */
